.App {
  text-align: center;  
  background-color:whitesmoke;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ShipBlock{
  padding: auto;
  background-color:lightgray;

}

.ShipBlock img {
  float: left;
  padding: auto;
  margin-left: 24%;
}

.ShipBlock p, h3{
  margin-right: 35%;
  margin-left: 35%;
}

.ShipBlock Button{
  margin-right: 35%;
  margin-left: 35%;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  max-width: 100%;
  height: 420px;
}

.each-slide span {
  padding: 20px;
  font-size: 42px;
  color: black;
  text-align: center;
}

.each-slide p {
  padding: 20px;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-bottom: 20px;

}

@import "react-slideshow-image/dist/styles.css"
